[submodule "modules/mm-hide-all"]
	path = modules/mm-hide-all
	url = git@github.com:itto-software/MagicMirror.git
[submodule "modules/voicecontrol"]
	path = modules/voicecontrol
	url = git@github.com:itto-software/MagicMirror.git
